html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.4em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	min-height:100%;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	flex-flow: column nowrap;
    background: #000000 url('https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4aYyFLkVPIx2XdHuFecdxp/b7c267a2f15d2cd9f2e38fdcb8507f35/Memory_textured_background.png') no-repeat center center fixed;
}

a:active,
a:focus {
   outline: 0;
   border: none;
   outline-style: none;
  -moz-outline-style: none;
}

#wrapper {
	width: 100%;
	text-align: center;
	max-width: 85em;
	margin: auto;
	flex: 1 0 auto;
}

#header {
	width: auto;
	height: auto;
	text-align: center;
	padding: 2.5em 3em 1em 3em;
	display: flex;
	justify-content: center;
}

#header h1 {
	font-weight: 300;
	font-family: 'Rayman Origins', sans-serif;
	margin: 0;
	padding: 0.2em;
	font-size: 4em;
	flex: 0 1 auto;
}
#header .header-text {
	text-align: left;
	padding: 0.5em;
	flex: 0 1 auto;
}

.main-items-container {
	padding: 0em 2em 0em 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.main-items-container:first-child {
	padding-top: 1em;
}
.main-items-container:last-child {
	padding-bottom: 2em;
}
.rows {
	width: 100%;
    text-align: center;
}

.main-item {
	flex: 1 0 auto;
	height: 15em;
	width: 14em;
	max-width: 30em;
	position: relative;
}
.main-items-container.banner {
	padding-top: 1em;
}
.main-item.banner {
	height: 4em;
	max-width: 40em;
}

.window {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0.9, 0.9);
	transform: translate(-50%, -50%) scale(0.9, 0.9);
	z-index: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 2.5em;
	transition: transform 0.25s, box-shadow 0.25s, height 0.25s;
	overflow: hidden;
}
.banner .window {
	border-radius: 1.5em;
}

.window-image {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	max-height: 15em;
	display: block;
    text-decoration: inherit; /* no underline */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	position: relative;
}
.window-image-background {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	opacity: 0.5;
	transition: filter 0.25s, opacity 0.25s, transform 0.3s;
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	filter: blur(1px);
}
.window-image-overlay {
	width: 100%;
	height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0.6, 0.6);
	transform: translate(-50%, -50%) scale(0.6, 0.6);
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
    filter: drop-shadow(0 0 2em black);
}
.window-popout {
	height: 4em;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.window-popout-link {
	display: block;
    text-decoration: inherit; /* no underline */
	flex: 1 1 auto;
	line-height: 4em;
	-webkit-transition: background-color 0.25s, color 0.25s;
	transition: background-color 0.25s, color 0.25s;
}
.window-popout-link.disabled {
	cursor: -webkit-not-allowed;
	cursor: not-allowed;
	/*filter: grayscale(75%);*/
}
.main-item:hover .window {
	-webkit-transform: translate(-50%, -40%) scale(1, 1);
	transform: translate(-50%, -40%) scale(1, 1);
	z-index: 10;
	height: calc(100% + 4em);
}
.main-item.banner:hover .window {
	-webkit-transform: translate(-50%, -50%) scale(1, 1);
	transform: translate(-50%, -50%) scale(1, 1);
	z-index: 10;
    height: 100%;
}
.footer {
	width: 100%;
	box-sizing: border-box;
	flex: 0 0 auto;
	text-align: center;
}
.wrapper-footer {
	padding: 0.5em;
	box-sizing: border-box;
	
	display: flex;
	width: 100%;
	text-align: center;
	max-width: 79em;
	margin: auto;
	position: relative;
}
.footer-content {
	text-align: left;
	font-size: 0.9em;
	flex: 1 0 auto;
	/*line-height: initial;*/
}
.footer-hexteria {
	display: block;
    margin: 0;
    padding: 0;

	position: absolute;
	bottom: 0;
	right: 0;

	border-radius: 0em 0em 0 0;
	overflow: hidden;
	transition: border-radius 0.2s, box-shadow 0.25s;
	cursor: pointer;
}
.footer-hexteria .footer-hexteria-container {
	position: relative;
	padding-bottom: 0.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	padding-top: 0.5em;
	display: flex;
	transition: padding-top 0.2s, padding-bottom 0.2s, padding-left 0.2s, padding-right 0.2s;
}
.footer-hexteria-container .footer-hexteria-background {
	position: absolute;
	z-index: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	transition: filter 0.25s, opacity 0.25s, transform 0.3s;
	opacity: 0.6;
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.1, 1.1);
	filter: blur(1px);
}
.footer-hexteria .footer-content {
	text-align: right;
	z-index: 1;
}
.footer-hexteria-logo {
	height: 2.8em;
	width: 5em;
	padding-left: 1em;
	z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0 0 2em black);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: transform 0.4s;
	transition: transform 0.4s;
}
.footer-hexteria:hover {
	border-radius: 1.5em 1.5em 0 0;
}
.footer-hexteria:hover .footer-hexteria-container {
	position: relative;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.footer-hexteria:hover .footer-hexteria-container .footer-hexteria-background {
	filter: none;
	opacity: 1;
	transform: scale(1,1);
}
.footer-hexteria:hover .footer-hexteria-logo {
	-webkit-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}
.footer-content a {
	display: inline-block;
    text-decoration: inherit; /* no underline */
	transition: background-color .4s;
	-moz-transition: background-color .4s;
	-webkit-transition: background-color .4s;
}

.main-item:hover .window .window-image-overlay {
	-webkit-transform: translate(-50%, -50%) scale(0.75, 0.75);
	transform: translate(-50%, -50%) scale(0.75, 0.75);
}
.main-item:hover .window .window-image-background {
	filter: none;
	opacity: 1;
	transform: scale(1,1);
}


@media only screen and (max-width: 900px) {
	.main-item {
		height: 19em;
		margin: 1em;
	}
	.main-item .window,
	.main-item:hover .window {
		-webkit-transform: translate(-50%, -50%) scale(1, 1);
		transform: translate(-50%, -50%) scale(1, 1);
		height: 100%;
	}
	.main-item .window .window-image-background {
		filter: none;
		opacity: 1;
		transform: scale(1,1);
	}
}