<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"/>
    </Found>
    <NotFound>
        <div class="error-404-background-root">
            <div class="error-404-foreground-root"></div>
        </div>
    </NotFound>
</Router>
