/* @font-face {
	font-family: 'Trajan Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Trajan Pro Regular'), url('static/fonts/TrajanPro-Regular.woff') format('woff');
} */

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: #ffdcaa;
	min-height: 100%;
	font-weight: 300;
	font-family: sans-serif;
	display: flex;
	flex-flow: column nowrap;
	background: #000000 url('https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4aYyFLkVPIx2XdHuFecdxp/b7c267a2f15d2cd9f2e38fdcb8507f35/Memory_textured_background.png') no-repeat center center fixed;
	text-align: center;
}

table {
	color: #FFDCAA;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 30px;
}

table th {
	padding: 10px 30px;
	background-color: #d39c0a30;
}

table tr:nth-child(even) {
	background-color: #ffdcaa20;
}

table tr:nth-child(odd) {
	background-color: #ffffff10;
}

table td {
	padding: 10px 30px;
	color: white;
}

td:first-child {
	text-align: right;
	color: #5ecbef;
}

#header {
	padding: 1em 3em 2em 3em;
	font-size: xx-large;
}